<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>渲染模版</title>
	</head>
	<body>
		<div>标题</div>
		<button id="btn">点击1</button>
	</body>
	<script>
		const btn = document.getElementById('btn')
		btn.onclick = function () {
			console.log(1)
			fetch('http://localhost:3000/cache1', {
				cache: 'force-cache',
				headers: {
					'Cache-Control': 'max-age=0'
				}
			})
				.then(res => res.json())
				.then(data => {
					console.log(data)
				})
		}
	</script>
</html>
